<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div *ngFor="let news of newsList">
        <div class="post-preview" >
          <a class="btn" role="button" [routerLink]="['/mainlayout/news/detail',news._id]">
            <h2 class="post-title"><span [innerText]="news.title"></span></h2>
            <h3 class="post-subtitle"><span [innerText]="news.subTitle"></span></h3>
          </a>
          <p class="post-meta">Inserito da <span [innerText]="news.author"></span> nel <span [innerText]="news.insertDate | date:'dd/MM/yyyy'"></span></p>
        </div>
        <hr>
      </div>
      <div *ngIf="collectionSize > 0">
        <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
      <div *ngIf="collectionSize === 0">
        Nessuna news nel {{ date.year+'-'+date.month | date: 'yyyy-MMMM' }}
      </div>
    </div>
    <aside class="col-sm-3 ml-sm-auto blog-sidebar">
        <!-- <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div> -->
        <div class="sidebar-module" *ngIf="archives.length > 0">
          <h4>Archivio</h4>
          <ol class="list-group">
            <button *ngFor="let date of archives" (click)="loadArchivePosts(date)" class="list-group-item list-group-item-action" [class.active]="selectedDate == date">{{ date.year+'-'+date.month | date: 'yyyy-MMMM' }}</button>
          </ol>
        </div>
        <!-- <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div> -->
      </aside>
  </div>
</div>
