<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <div *ngFor="let news of newsList">
        <div class="post-preview" >
          <a class="btn" role="button" [routerLink]="['/news/detail',news._id]" routerLinkActive="active">
            <h2 class="post-title"><span [innerText]="news.title"></span></h2>
            <h3 class="post-subtitle"><span [innerText]="news.subTitle"></span></h3>
          </a>
          <p class="post-meta">Inserito da <span [innerText]="news.author"></span> nel <span [innerText]="news.insertDate | date:'dd/MM/yyyy'"></span></p>
        </div>
        <hr>
      </div>
      <div *ngIf="collectionSize > 0">
        <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
