<div class="container">

  <hr class="featurette-divider">
<footer>
  <!-- <p class="float-right"><a href="#">Back to top</a></p> -->
  <ul class="list-inline text-center">
    <li class="list-inline-item">
      <a href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="#">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/taliento/torino9">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
  <ul class="list-inline text-center">
    <li class="list-inline-item">

      <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </li>
  </ul>

</footer>
</div>
