<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3"><span><i class="fa fa-superpowers" aria-hidden="true"></i></span> Admin page</h3>
    <hr class="my-4">
    <p>insert,delete,update stuffs...</p>
  </div>
</div>
<div class="container">
  <div class="list-group">
    <button *ngFor="let tab of tabs" type="button"
    class="list-group-item list-group-item-action "
    [routerLink]="[tab.component]" routerLinkActive="active"
    [innerText]="tab.title"></button><!--active-->
  </div>
</div>
