<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3"><span><i class="fa fa-cogs" aria-hidden="true"></i></span> Admin page</h3>
    <hr class="my-4">
    <p>insert,delete,update stuffs...</p>
  </div>
</div>
<div class="container">
  <div class="list-group">
    <button *ngFor="let tab of tabs" type="button"
    class="list-group-item list-group-item-action"
    [ngClass]="{'list-group-item-danger': tab.style == 'danger',
      'list-group-item-warning': tab.style == 'warning',
      'list-group-item-primary': tab.style == 'primary',
      'list-group-item-info': tab.style == 'info',
      'list-group-item-success': tab.style == 'success'}"
    [routerLink]="[tab.component]" routerLinkActive="active"
    [innerText]="tab.title"></button><!--active-->
  </div>
</div>
