<div class="card-body">
  <h4 class="card-title">{{branca.title}}</h4>
  <p class="card-text"><small class="text-muted">{{branca.subtitle}}</small></p>
  <div class="card-text" [froalaView]="branca.text"></div>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="updateModal()">Modifica</button>
  <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteBranca()">Elimina</button>
</div>
<img class="card-img-bottom" [src]="branca.imgPath" height="200px" alt="Branca img">
<!-- <div class="card-footer">
  <small class="text-muted">Inserito da <span>{{news.author}}</span> nel {{news.insertDate | date:'dd/MM/yyyy' }}</small>
</div> -->
<ng-template #updateContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifica {{branca.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-branca-upload #updateForm [branca]="branca" (formSubmit)="updateBranca($event)"></app-branca-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annulla</button>
  </div>
</ng-template>
