<br>
<div class="card-deck">
  <div class="card" *ngFor="let slide of slides">
    <dt-slide-detail [slide]="slide" (updated)="loadData()"  (delete)="delete($event)"></dt-slide-detail>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-10" *ngIf="collectionSize > 0">
    <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Inserisci Slide
    </button>
  </div>
</div>

<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <slide-upload #insertForm (formSubmit)="addSlide($event)"></slide-upload>
    </div>
  </div>
</div>

<confirm-dialog #confirmDialog [title]="confirmTitle" [text]="confirmText" (confirm)="deleteSlide()"></confirm-dialog>
