<article *ngIf="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div [froalaView]="news.text"></div>
            </div>
        </div>
        <br>
        <p class="post-meta">Inserito da <span [innerText]="news.author"></span> nel <span [innerText]="news.insertDate | date:'dd/MM/yyyy'"></span></p>
    </div>
<article>

<div class="container" *ngIf="!news">
  <p>News not found!!</p>
</div>

<br>
<div class="container" >
  <div class="btn btn-outline-secondary" (click)="gotoNews()">Back</div>
</div>
