<article *ngIf="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{news.text}}</p>
            </div>
        </div>
        <br>
        <p class="post-meta">Inserito da <span>{{news.author}}</span> nel {{news.insertDate | date:'dd/MM/yyyy' }}</p>
    </div>
<article>

<div class="container" *ngIf="!news">
  <p>News not found!!</p>
</div>

<br>
<div class="container" >
  <div class="btn btn-outline-secondary" (click)="gotoNews()">Back</div>
</div>
