<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 70rem;">
        <img class="card-img-top" [src]="page.imgPath" alt="Card image cap">
        <div class="card-header">
          {{page.menuLabel}}
        </div>
        <div class="card-body">
          <h4 class="card-title" [innerText]="page.title"></h4>
          <h6 class="card-subtitle mb-2 text-muted" [innerText]="page.subtitle"></h6>
          <div class="card-text" [froalaView]="page.text"></div>
        </div>
      </div>
    </div>
  </div>
</div>
