<div class="card text-white" style="height: 30rem;">
  <img class="card-img" style="height: 30rem;" *ngIf="page.imgPath" [src]="page.imgPath">
  <div class="card-img-overlay">
    <div class="container">
      <br>
      <h3 class="display-3" [innerText]="page.title"></h3>
      <hr class="my-4">
      <p [innerText]="page.subtitle"></p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-body">
          <div [froalaView]="page.text"></div>
        </div>
      </div>
  </div>
</div>
