<div class="card text-white" *ngIf="page.imgPath">
  <img class="card-img" [src]="page.imgPath">
  <div class="card-img-overlay">
    <div class="container">
      <br>
      <h3 class="display-3" [innerText]="page.title"></h3>
      <hr class="my-4">
      <p [innerText]="page.subtitle"></p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-header" *ngIf="!page.imgPath" [innerText]="page.title">
        </div>
        <div class="card-body">
          <div class="card-subtitle" *ngIf="!page.imgPath" [innerText]="page.subtitle"></div>
          <div [froalaView]="page.text"></div>
        </div>
      </div>
  </div>
</div>
