<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><span><i class="fa fa-info" aria-hidden="true"></i></span> Chi siamo</h1>
    <hr class="my-4">
    <p>Domani sarò ciò che oggi ho scelto di essere.</p>
    <small>(James Joyce)</small>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{aboutPage.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{aboutPage.subtitle}}</h6>
          <p class="card-text">{{aboutPage.text}}</p>
          <a *ngFor="let link of aboutPage.links" [href]="link.href" class="card-link">{{link.text}}</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
