<div class="jumbotron">
  <div class="container">
    <h3 class="display-3"><span><i class="fa fa-info" aria-hidden="true"></i></span> Chi siamo</h3>
    <hr class="my-4">
    <p [innerText]="aboutPage.title"></p>
    <small [innerText]="aboutPage.subtitle"></small>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-text" [froalaView]="aboutPage.text"></div>
          <a *ngFor="let link of aboutPage.links" [href]="link.href" class="card-link" [innerText]="link.text"></a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
