<div class="card-deck">
  <div class="card" *ngFor="let user of users">
    <dt-user-detail [user]="user" (delete)="delete($event)"></dt-user-detail>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-10" *ngIf="collectionSize > 0">
    <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Inserisci user
    </button>
  </div>
</div>

<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <form class="form-inline">
        <label class="sr-only" for="insertUsername">Username</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="input-group-addon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="insertUsername" name="username" placeholder="Username" [(ngModel)]="newUser.username">
        </div>

        <label class="sr-only" for="insertPassword">Password</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <span class="input-group-addon">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input type="password" class="form-control" id="insertPassword" name="password" [(ngModel)]="newUser.password">
        </div>

        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="admin" [(ngModel)]="newUser.admin"> Utente admin
          </label>
        </div>

        <button type="button" class="btn btn-outline-success" (click)="addUser()">Inserisci</button>
      </form>
    </div>
  </div>
</div>

<confirm-dialog #confirmDialog [title]="confirmTitle" [text]="confirmText" (confirm)="deleteUser()"></confirm-dialog>
