<nav class="navbar navbar-expand-md fixed-top navbar-light" style="background-color: #7aadff;">

<a class="navbar-brand" [routerLink]="[brandMenu.path]" (click)="isCollapsed = true">
  <img src="assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  {{brandMenu.title}}
</a>

<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse" [ngClass]="{collapse: isCollapsed}">

  <ul class="navbar-nav mr-auto">
    <li *ngFor="let menuItem of menuItems" class="nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active" (click)="isCollapsed = true">{{menuItem.title}}</a>
    </li>
    <li ngbDropdown class="d-inline-block" *ngIf="user">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{user.username}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" [routerLink]="['admin']" routerLinkActive="active"><span><i class="fa fa-superpowers" aria-hidden="true"></i></span> Area Admin</button>
        <div role="separator" class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="logout()"><span><i class="fa fa-power-off" aria-hidden="true"></i></span> Logout</button>
      </div>
    </li>
  </ul>

  <form class="form-inline" *ngIf="!user">
    <button class="btn btn-outline-primary my-2 my-sm-0" type='button' [routerLink]="['login']" routerLinkActive="active" (click)="isCollapsed = true">Signin</button>
    <label class="mr-sm-2">&nbsp; or &nbsp;</label>
    <button class="btn btn-outline-primary my-2 my-sm-0" type='button' [routerLink]="['register']" routerLinkActive="active" (click)="isCollapsed = true">Signup</button>
  </form>
</div>

<!-- <form class="form-inline mt-2 mt-md-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search">
</form> -->
</nav>
