<nav class="navbar navbar-expand-md fixed-top navbar-light justify-content-between" style="background-color: #7aadff;">

  <a class="navbar-brand" [routerLink]="[brandMenu.path]" (click)="isCollapsed = true">
    <img src="assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <span [innerText]="brandMenu.title"></span>
  </a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngClass]="{collapse: isCollapsed}">

    <!--static routes -->
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let menuItem of menuItems; index as i;" class="nav-item">
        <a *ngIf="!menuItem.dropdown" class="nav-link" [routerLink]="[menuItem.path]" routerLinkActive="active" (click)="isCollapsed = true" [innerText]="menuItem.title"></a>
        <ul class="navbar-nav" *ngIf="menuItem.dropdown">
          <li ngbDropdown class="d-inline-block" placement="bottom-right" ngbDropdown>
            <a class="btn nav-link" role="button" attr.id="dropdown{{i}}" ngbDropdownToggle [innerText]="menuItem.title"></a>
            <div ngbDropdownMenu attr.aria-labelledby="dropdown{{i}}">
              <a *ngFor="let leaf of menuItem.childs" class="dropdown-item" [routerLink]="[leaf.path,leaf.param]" routerLinkActive="active" (click)="isCollapsed = true" [innerText]="leaf.title"></a>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <!-- user button -->
    <ul class="navbar-nav">
      <li ngbDropdown class="d-inline-block" placement="bottom-right" *ngIf="user">
        <button class="btn btn-outline-dark" role="button" id="dropdownBasic1" ngbDropdownToggle>
          <span [innerText]="user.username"></span>
          <img *ngIf="user.imgPath" [src]="user.imgPath" width="30" height="30" class="rounded-circle" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" [routerLink]="['/mainlayout/admin/tabs']" routerLinkActive="active" (click)="isCollapsed = true"><span><i class="fa fa-superpowers" aria-hidden="true"></i></span> Area Admin</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><span><i class="fa fa-power-off" aria-hidden="true"></i></span> Logout</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!user">
        <button class="btn btn-outline-primary" role="button" [routerLink]="['/login']" routerLinkActive="active" (click)="isCollapsed = true">Signin</button>
      </li>
    </ul>

  </div>
</nav>
