<div class="list-group-item list-group-item-action flex-column align-items-start" [class.active]="active" style="margin-bottom:10px" (click)="selected()">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{task.title}}</h5>
    <small>Il {{ task.date.day }}/{{ task.date.month }}/{{ task.date.year }} <span *ngIf="task.time">- {{ task.time.hour }}:{{ task.time.minute }}</span></small>
  </div>
  <p class="mb-1">{{task.text}}</p>
    <small *ngIf="task.insertDate">Inserito il {{task.insertDate | date:'dd/MM/yyyy'}}</small>
</div>
