<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-secondary" [routerLink]="['/mainlayout/admin/tabs']">Indietro</button>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label for="insertTitle">Titolo</label>
    <input type="text" class="form-control" id="insertTitle" name="title" placeholder="Titolo" [(ngModel)]="contactPage.title">
  </div>
  <div class="form-group">
    <label for="insertSubTitle">Sottotitolo</label>
    <input type="text" class="form-control" id="insertSubTitle" name="subtitle" placeholder="Sottotitolo" [(ngModel)]="contactPage.subtitle">
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <app-contact-list #contactList [contacts]="contactPage.contacts"></app-contact-list>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-12">
      <app-contact-map [mapTitle]="contactPage.mapTitle" [mapLat]="contactPage.mapLat" [mapLng]="contactPage.mapLng" (mapCenter)="mapCenter($event)"></app-contact-map>
    </div>
  </div>


  <br>
  <div class="row">
    <button class="btn btn-outline-success" (click)="save()">Salva tutto</button>
  </div>
</div>
