<div class="container">
  <br>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link disabled">App config</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary" [routerLink]="['/mainlayout/admin/tabs']">Indietro</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="insertTitle">Titolo</label>
          <input type="text" class="form-control" id="insertTitle" name="title" placeholder="Titolo" [(ngModel)]="config.title">
        </div>
        <button type="button" class="btn btn-outline-success" (click)="save()">Salva</button>
      </form>
    </div>
  </div>
</div>
