@import "../../assets/scss/variables";

.login-container {
  background-color: $primary;
  height: 100%;
  padding-top: 50px;
}

.login-container img {
  display:block;
  margin:auto;
  padding-bottom: 10px;
}
