<div class="card text-white">
  <img class="card-img branca-img" [src]="branca.imgPath" alt="Card image">
  <div class="card-img-overlay">
    <div class="container">
      <br>
      <h3 class="display-3"><span><i class="fa fa-fire" aria-hidden="true"></i></span> <span [innerText]="branca.title"></span></h3>
      <hr class="my-4">
      <p [innerText]="branca.subtitle"></p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-body">
          <div [froalaView]="branca.text"></div>
        </div>
      </div>
  </div>
</div>
