<div class="card text-white dt-shadow">
  <img class="card-img branca-img img-fluid" [src]="branca.imgPath" alt="Card image">
  <div class="card-img-overlay">
    <div class="container">
      <h3 class="display-3"
      [ngClass]="{'text-primary': color == 'blue',
       'text-danger': branca.color == 'red',
        'text-warning': branca.color == 'yellow',
      'text-success': branca.color == 'green'}">
        <span><i class="fa fa-fire" aria-hidden="true"></i></span>
         <span [innerText]="branca.title"></span></h3>
      <hr class="my-4">
      <p [innerText]="branca.subtitle"></p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p [innerHtml]="branca.text"></p>
    </div>
  </div>
</div>
