<div class="jumbotron">
  <div class="container">
    <h3 class="display-3"><span><i class="fa fa-address-book-o" aria-hidden="true"></i></span> Contatti</h3>
    <hr class="my-4">
    <p [innerText]="contactPage.title"></p>
    <small [innerText]="contactPage.subtitle"></small>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card" style="width: 20rem;" *ngFor="let contact of contactPage.contacts">
      <div class="card-body">
        <h4 class="card-title" [innerText]="contact.name"></h4>
        <h6 class="card-subtitle mb-2 text-muted" [innerText]="contact.nickname"></h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-10">
              <span [innerText]="contact.email"></span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-10">
              <span [innerText]="contact.tel"></span>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2">
              <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
            </div>
            <div class="col-md-10">
              <span [innerText]="contact.mobile"></span>
            </div>
          </div>
        </li>
      </ul>
      <!-- <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> -->
      <!-- <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div> -->
    </div>
  </div>
  <br>
<div class="container">
  <app-map [title]="contactPage.mapTitle" [lat]="contactPage.mapLat" [lng]="contactPage.mapLng" [zoom]="15"></app-map>
</div>


</div>
