<div class="list-group-item list-group-item-action flex-column align-items-start" style="margin-bottom:10px"><!-- active -->
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1" [innerText]="task.title"></h5>
    <small>Il <span [innerText]="task.date.day+'/'+task.date.month+'/'+task.date.year"></span> <span *ngIf="task.time">- <span [innerText]="task.time.hour+':'+task.time.minute"></span></span></small>
  </div>
  <div class="mb-1" [innerHtml]="task.text"></div>
  <small *ngIf="task.insertDate">Inserito il <span [innerText]="task.insertDate | date:'dd/MM/yyyy'"></span></small>
</div>
