<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <ul class="list-group" [title]="'Eventi del '+ model.day+'/'+model.month+'/'+model.year">
        <div *ngIf="!tasks.length" class="list-group-item">Nessun evento nella data <span [innerText]="model.day+'/'+model.month+'/'+model.year"></span></div>
        <app-event-detail *ngFor="let task of tasks" [task]="task" (reload)="loadMonthEvents(model)"></app-event-detail>
      </ul>
    </div>
    <div class="col-md-2">
      <!-- <button class="btn btn-sm btn-outline-primary" (click)="selectToday();dp.navigateTo();">Vai ad oggi</button>
      <hr/> -->
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="navigate($event)" [dayTemplate]="customDay"></ngb-datepicker>
      <br>
      <div class="row">
        <small>Legenda:</small>
        <span class="badge badge-warning">Evento</span>
        <span class="badge badge-primary">Selezionato</span>
      </div>
    </div>
  </div>
</div>
<!--calendar day template -->
<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected">
  <div class="day btn-light"
    [ngClass]="{'bg-primary': selected, 'text-white': selected, 'text-muted': date.month !== currentMonth, 'bg-warning': (!selected && hasTask(date)) }"
   (click)="loadTasks(date)">
    <span [innerText]="date.day"></span>
  </div>
</ng-template>
<br>
<div class="row">
  <div class="col-md-8">
    <button type="button" [disabled]="!model" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Inserisci Evento
    </button>
  </div>
</div>
<br>
<div id="collapseExample" [ngbCollapse]="isCollapsed"><!--insert form -->
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Evento programmato in data <span [innerText]="model.day+'/'+model.month+'/'+model.year"></span></h4>
      <form>
        <div class="form-group">
          <label for="insertTitle">Titolo</label>
          <input type="text" class="form-control" id="insertTitle" name="title" placeholder="Titolo Evento" [(ngModel)]="newEvent.title">
        </div>
        <div class="form-group">
          <label for="insertText">Testo</label>
          <div [(froalaModel)]="newEvent.text" id="insertText" name="text" [froalaEditor]></div>
          <!-- <textarea rows="5" class="form-control" id="insertText" name="text" placeholder="Testo Evento" [(ngModel)]="newEvent.text"></textarea> -->
        </div>
        <div class="form-group">
          <label for="insertTime">Ora inizio</label>
          <ngb-timepicker id="insertTime" name="time" [(ngModel)]="newEvent.time"></ngb-timepicker>
        </div>
        <button type="button" class="btn btn-outline-success" (click)="addEvent()">Inserisci</button>
      </form>
    </div>
  </div>
</div>
