<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-secondary" [routerLink]="['/mainlayout/admin/tabs']">Indietro</button>
    </div>
  </div>
  <br>
  <div class="list-group">
    <a [routerLink]="['/mainlayout/admin/page',page._id]" routerLinkActive="active" *ngFor="let page of pages" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1" [innerText]="page.title"></h5>
        <!-- <small>3 days ago</small> -->
      </div>
      <p class="mb-1" [innerText]="page.subtitle"></p>
      <!-- <small>Donec id elit non mi porta.</small> -->
    </a>
  </div>
  <br>
  <button class="btn btn-outline-primary" [routerLink]="['/mainlayout/admin/page','new']" routerLinkActive="active">Inserisci pagina</button>
</div>
