<form>
  <div class="form-group">
    <label for="insertTitle">Titolo</label>
    <input type="text" class="form-control" id="insertTitle" name="title" placeholder="Titolo" [(ngModel)]="aboutPage.title">
  </div>
  <div class="form-group">
    <label for="insertSubTitle">Sottotitolo</label>
    <input type="text" class="form-control" id="insertSubTitle" name="subtitle" placeholder="Sottotitolo" [(ngModel)]="aboutPage.subtitle">
  </div>
  <div class="form-group">
    <label for="insertText">Testo</label>
    <textarea rows="5" class="form-control" id="insertText" name="text" placeholder="Testo" [(ngModel)]="aboutPage.text"></textarea>
  </div>
  <dt-about-links #aboutLinks [links]="aboutPage.links"></dt-about-links>
  <button type="button" class="btn btn-outline-success" (click)="save()">Salva</button>
</form>
