<br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-secondary" [routerLink]="['/mainlayout/admin/tabs']">Indietro</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">News</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Inserisci News
          </button>
        </div>
      </div>
      <br>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="insertTitle">Titolo</label>
                <input type="text" class="form-control" id="insertTitle" name="title" placeholder="Titolo news" [(ngModel)]="newNews.title">
              </div>

              <div class="form-group">
                <label for="insertSottoTitolo">Sotto Titolo</label>
                <input type="text" class="form-control" id="insertSottoTitolo" name="subTitle" placeholder="Sottotitolo news" [(ngModel)]="newNews.subTitle">
              </div>

              <div class="form-group">
                <label for="insertText">Testo</label>
                <div [(froalaModel)]="newNews.text" id="insertText" name="text" [froalaEditor]></div>
                <!-- <textarea rows="5" class="form-control" id="insertText" name="text" placeholder="Testo news" [(ngModel)]="newNews.text"></textarea> -->
              </div>

              <button type="button" class="btn btn-outline-success" (click)="addNews()">Inserisci</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="card" style="margin-bottom:10px" *ngFor="let news of newsList">
        <app-news-detail [news]="news" (delete)="delete($event)"></app-news-detail>
      </div>

      <br>
      <div class="row">
        <div class="col-md-10" *ngIf="collectionSize > 0">
          <ngb-pagination [pageSize]="pageSize" [collectionSize]="collectionSize" [(page)]="page" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>



  <app-confirm-dialog #confirmDialog [title]="confirmTitle" [text]="confirmText" (confirm)="deleteNews()"></app-confirm-dialog>
</div>
