<div class="row">
  <div class="col-md-4">
    <img class="card-img-bottom" [src]="user.imgPath" alt="user avatar">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h4 class="card-title" [innerText]="user.username"></h4>
      <p class="card-text" [innerText]="user.firstName +' '+ user.lastName"></p>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="modifyUser()">Modifica</button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteUser()">Elimina</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-footer">
    <small class="text-muted">Inserito nel <span [innerText]="user.insertDate | date:'dd/MM/yyyy'"></span></small>
</div>

<ng-template #updateContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifica <span [innerText]="user.username"></span></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-user-upload #updateForm [user]="user" (formSubmit)="update($event)"></app-user-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annulla</button>
  </div>
</ng-template>
