<img class="card-img-top" [src]="slide.imgPath" [alt]="slide.alt">
<div class="card-body">
  <h4 class="card-title">{{slide.title}}</h4>
  <p class="card-text">{{slide.text}}</p>
  <button type="button" class="btn btn-primary btn-sm" (click)="modifySlide()">Update</button>
  <button type="button" class="btn btn-danger btn-sm" (click)="deleteSlide()">Delete</button>
</div>
<div class="card-footer">
  <small class="text-muted">{{slide.updateDate}}</small>
</div>

<ng-template #updateContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifica {{slide.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
          <label for="updateTitle">Title</label>
          <input type="text" class="form-control" id="updateTitle" name="title" [(ngModel)]="slide.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="updateText">Text</label>
          <input type="text" class="form-control" id="updateText" name="text" [(ngModel)]="slide.text" placeholder="Testo">
        </div>
        <div class="form-group">
          <label for="updateImg">Immagine</label>
          <input type="text" class="form-control" id="updateImg" name="imgPath" [(ngModel)]="slide.imgPath" placeholder="Link immagine">
        </div>
        <div class="form-group">
          <label for="updateBtnText">Testo bottone</label>
          <input type="text" class="form-control" id="updateBtnText" name="btnText" [(ngModel)]="slide.btnText" placeholder="Testo bottone">
        </div>
        <div class="form-group">
          <label for="updateURLBottone">Url bottone</label>
          <input type="text" class="form-control" id="updateURLBottone" name="btnHref" [(ngModel)]="slide.btnHref" placeholder="Url Bottone">
        </div>
      </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="update();c('Close click');">Conferma</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annulla</button>
  </div>
</ng-template>
