<img class="card-img-top" [src]="slide.imgPath" [alt]="slide.alt">
<div class="card-body">
  <h4 class="card-title">{{slide.title}}</h4>
  <p class="card-text">{{slide.text}}</p>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="modifySlide()">Update</button>
  <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSlide()">Delete</button>
</div>
<div class="card-footer">
  <small class="text-muted">Inserita nel {{slide.insertDate | date:'dd/MM/yyyy' }}</small>
</div>

<ng-template #updateContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifica {{slide.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <slide-upload #updateForm [slide]="slide" (formSubmit)="update($event)"></slide-upload>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="update();c('Close click');">Conferma</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annulla</button>
  </div>
</ng-template>
