<div class="container" style="margin-top: 6rem;">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link disabled">{{page.title}}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-secondary" [routerLink]="['/mainlayout/admin/custom-page']">Indietro</button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="container-fluid" *ngIf="page.imgPath" style="width: 20rem;">
        <img class="page-image img-fluid mx-auto" [src]="page.imgPath" alt="custom image">
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body" *ngIf="page._id || newPage">
                <app-custom-page-form #insertForm [customPage]="page" (formSubmit)="formSubmit($event)"></app-custom-page-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
