<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-3"><span><i class="fa fa-calendar" aria-hidden="true"></i></span> Calendario</h3>
    <hr class="my-4">
    <p>Qui trovi le attività e gli eventi programmati.</p>
    <!-- <small>(Paul Scott)</small> -->
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-group" [title]="'Eventi del '+ model.day+'/'+model.month+'/'+model.year">
            <div *ngIf="!tasks.length" class="list-group-item">Nessun evento nella data <span [innerText]="model.day+'/'+model.month+'/'+model.year"></span></div>
            <app-calendar-detail *ngFor="let task of tasks" [task]="task"></app-calendar-detail>
          </ul>
        </div>
        <div class="col-md-2">
          <ngb-datepicker #dp [(ngModel)]="model" (navigate)="navigate($event)" [dayTemplate]="customDay"></ngb-datepicker>
        </div>
      </div>
      <div class="row">
        <small>Legenda:</small>
        <span class="badge badge-warning">Evento</span>
        <span class="badge badge-primary">Selezionato</span>
      </div>
    </div>
  </div>
</div>

<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected">
  <div class="custom-day"
  [class.custom-event]="hasTask(date)" [class.bg-primary]="selected"
  [class.text-white]="selected" [class.focused]="focused"
  [class.text-muted]="date.month !== currentMonth"
   (click)="loadTasks(date)">
    <span [innerText]="date.day"></span>
  </div>
</ng-template>
