<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Calendario</h1>
    <hr class="my-4">
    <p>eventi, feste...</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-sm btn-outline-primary" (click)="selectToday();dp.navigateTo();">Vai ad oggi</button><!--;dp.navigateTo(); -->
      <hr/>
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="navigate($event)" [dayTemplate]="customDay"></ngb-datepicker>
    </div>
    <div class="col-md-8">
      <ul class="list-group" title="Eventi del {{ model.day }}/{{ model.month }}/{{ model.year }}">
        <calendar-detail *ngFor="let task of tasks" [task]="task"></calendar-detail>
      </ul>
    </div>
  </div>
</div>

<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected">
  <div class="day btn-light"
        [class.bg-primary]="selected"
        [class.text-white]="selected"
        [class.text-muted]="date.month !== currentMonth"
        [class.has-task]="hasTask(date)"
        (click)="loadTasks(date)">
    {{ date.day }}
  </div>
</ng-template>
