// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
}
.custom-event {
  background-color: $warning;
  border-radius: 1rem;
  color: black;
}
