<dt-carousel></dt-carousel>

<div class="container marketing">

  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Lupetti</h2>
      <p>(L/C) - bambini/e dagli 8 agli 11/12 anni</p>
      <p><a class="btn btn-secondary" [routerLink]="['branca','LC']" routerLinkActive="active" role="button">Dettagli &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Esploratori e Guide</h2>
      <p>(E/G) - ragazzi/e dai 11/12 ai 16 anni</p>
      <p><a class="btn btn-secondary" [routerLink]="['branca','EG']" routerLinkActive="active" role="button">Dettagli &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Rover e Scolte</h2>
      <p>(R/S) - giovani dai 16 ai 20/21 anni</p>
      <p><a class="btn btn-secondary" [routerLink]="['branca','RS']" routerLinkActive="active" role="button">Dettagli &raquo;</a></p>
    </div>
  </div>

  <featurette></featurette>

</div>
