<br>
<div class="card-deck">
  <div class="card" *ngFor="let branca of branche">
    <branca-detail [branca]="branca" (delete)="delete($event)" (update)="addBranca($event)"></branca-detail>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-2">
    <button [disabled]="branche.length >= 3" type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Inserisci Branca
    </button>
  </div>
</div>

<br>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">
      <branca-upload #insertForm (formSubmit)="addBranca($event)"></branca-upload>
    </div>
  </div>
</div>

<confirm-dialog #confirmDialog [title]="confirmTitle" [text]="confirmText" (confirm)="deleteBranca()"></confirm-dialog>
